.jumbotron {
    background-color: #141414ec;
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 3rem;
    text-align: center;
    color: goldenrod;
  }

  .jumbotron p {
    color: azure;
    margin-top: 10px;
  }